In [2]:
import os
os.getcwd()

'/home/oem/Neza-ML-Model'

In [11]:
!pip install pandas
!pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/oem/.local/lib/python3.10/site-packages (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/oem/.local/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.22.4 in /home/oem/.local/lib/python3.10/site-packages (from pandas) (1.24.3)
Requirement already satisfied: tzdata>=2022.1 in /home/oem/.local/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in /home/oem/.local/lib/python3.10/site-packages (1.3.1)
Requirement already satisfied: joblib>=1.1.1 in /home/oem/.local/lib/python3.10/site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/oem/.local/lib/python3.10/site-packages (from scikit-learn) (3.2.0)
Requirement already satisfied: scipy>=1.5.0 in /home/oem/.local/lib/python3.10/site-packages (from scikit-learn) (1.11.2)
Requirement already satisfied: numpy<2.0,>=1.17.3 in /home/oem/.local/lib/python3.10/site-packages (from scikit-learn) (1.24.3)
Train data shape: (4000, 8)
Test data shape: (1000, 8)

In [15]:
import pandas as pd

data = pd.read_csv('Neza_cleaned1.csv')

from sklearn.model_selection import train_test_split

train_data, test_data = train_test_split(data, test_size=0.2, random_state=42)

print('Train data shape:', train_data.shape)
print('Test data shape:' , test_data.shape)

Train data shape: (4000, 6)
Test data shape: (1000, 6)

In [16]:
train_data.head()

,Unnamed: 0,Wards in Nairobi,Number of scrap dealers,Presence of open sewage,Sources of water(Borehole),no. of Industries
4227,4229,Dandora Area III,"""24","000""",39,0
4676,4678,Umoja II,"""16","000""",102,1
800,802,Harambee,"""21","000""",58,0
3671,3673,Parklands/Highridge,"""19","000""",91,0
4193,4195,Komarock,"""20","000""",44,0

In [17]:
test_data.head()

,Unnamed: 0,Wards in Nairobi,Number of scrap dealers,Presence of open sewage,Sources of water(Borehole),no. of Industries
1501,1503,Mwiki,"""48","997""",56,0
2586,2588,Njiru,"""109","890""",88,1
2653,2655,Utalii,"""52","500""",46,1
1055,1057,Harambee,"""36","037""",29,0
705,707,Uthiru/Ruthi,"""42","600""",72,1